nav.nav-bar {
    
}

nav.nav-bar button {
    background: transparent;
}

nav.nav-bar button.back-btn {
    background-image: url(../img/back@2x.png);
    background-size: 100%;
}

nav.nav-bar button.setting-btn {
    background-image: url(../img/setting@2x.png);
    background-size: 100%;
}

nav.nav-bar h1 {
    color: #F5F6F7;
    text-shadow: 0px 1px rgba(0, 0, 0, .39);
}

#home-page > header {
    background: #55BC7F;
}

section.report {
    background: #A6A6A8;
}

section.report > header {
    background: #F5F6F7;
}

section.report > header > h2 {
    padding: .4em 0 .2em 0;
    color: #38393D;
}

section.report > header > h2 > span {
    color: #A6A6A8;
    margin: auto 1em;
}

section.report > header > h3 {
    color: #A6A6A8;
    font-weight: normal;
}

section.report > header h4 {
    color: #807E83;
    font-size: .9em;
    font-weight: normal;
}

section.report > header p {
    color: #38B070;
}

section.report > header > ul > li {
    border-right: 1px solid #A6A6A8;
}

section.report > header > ul > li:last-child {
    border-right: none;
}

section.report > section {
    background: #F5F6F7;
    border-radius: .2em;
}

section.report > section > header > h4 {
    border-bottom: 1px solid #A6A6A8;
    color: #807E83;
    font-weight: normal;
}

section.report > section > section {
}

section.report > section > section h2 {
    color: #51C2E9;
    font-weight: normal;
}

section.report > section > section h3 {
    color: #807E83;
    font-size: 1em;
    font-weight: normal;
}

section.report > section > footer > button {
    background: #55BC7F;
    border-radius: .2em;
    color: #F5F6F7;
}

section.report > section > footer > button:before {
    background-image: url(../img/dash@2x.png);
    background-size: 100%;
}