.scenery {
    background: linear-gradient(45deg, #B8B8B9, #E4E6E7);
}

.stage {
    background-image: url(cat.jpg);
    background-size: auto 140%;
    background-position: 57% 0;

    box-shadow: 0px 60px 91px -14px rgba(0,0,0,0.63);
}
