@import "../../../../_common/css/extends";
@import "../../../../_common/css/mixins";

.stage {
    @extend %absoluteFull;
    @extend %mobileSize;

    background-color: $white;
    border: solid 1px $concrete;
    margin: auto;
}
