@import '../../../../_common/css/extends';
@import '../../../../_common/css/mixins';

.stage {
    @extend %absolute-full;
    @extend %mobile-size;

    background-color: $white;
    border: solid 1px $concrete;
    margin: auto;
}
