@import "../../../_common/css/extends";
@import "../../../_common/css/variables";

.content-controller {
    @extend %absoluteFull;

    background-color: #EFEFF4;
    padding: 11px;
    top: $ios-navigation-bar-height;
}
