@import "../../../_common/css/extends";

///
%icon {
    background-size: auto $golden-ratio-0809p;
    background-repeat: no-repeat;
    background-position: $ios-icon-padding center;
}

///
%icon-back {
    @extend %icon;

    background-image: url("../../../res/chevron.svg");
}
