@import '../../../_common/css/extends';

///
%icon {
    background-position: $ios-icon-padding center;
    background-repeat: no-repeat;
    background-size: auto $golden-ratio-0809p;
}

///
%icon-back {
    @extend %icon;

    background-image: url('../../../res/chevron.svg');
}
