////
/// @group COMMON
/// @author Shuai Xia
////

@import "variables";

/// sizes
%full-size {
    height: 100%;
    width: 100%;
}

///
%absolute-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

///
%absolute-fullSize {
    @extend %full-size;
    @extend %absolute-full;
}

///
%mobile-size {
    min-height: $mobile-s-height;
    max-height: $mobile-l-height;
    min-width: $mobile-s-width;
    max-width: $mobile-l-width;
}

///
%golden-size {
    width: $golden-ratio-0618p;
    height: $golden-ratio-0618p;
}

/// margin and padding
%slim {
    border: 0;
    margin: 0;
    padding: 0;
}

%scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
