////
/// @group COMMON
/// @author Shuai Xia
////

$rem: 16px;

///
$white: #FFF;

///
$black:  #101010;

///
$concrete: #F2F2F2;

// golden ratios
///
$golden-ratio0191: 19.1%;
///
$golden-ratio0382: 38.2%;
///
$golden-ratio0500: 50%;
///
$golden-ratio0618: 61.8%;
///
$golden-ratio0809: 80.9%;
///
$golden-ratio1618: 161.8%;

// mobile sizes
///
$mobile-l-width: 425px;
///
$mobile-m-width: 375px;
///
$mobile-s-width: 320px;
///
$mobile-l-height: 736px;
///
$mobile-m-height: 568px;
///
$mobile-s-height: 320px;

// tablet sizes
///
$tablet-width: 768px;

// laptop sizes
///
$laptop-width: 1024px;

// ===== Variables from iOS ===== //
// Colors
///
$ios-gray: #BFBFC3;

// Sizes
///
$ios-status-bar-height: 20px;
///
$ios-navigation-bar-height: 44px;
