////
/// @group COMMON
/// @author Shuai Xia
////

$rem: 16px;

///
$white: #FFF;

///
$black:  #101010;

///
$concrete: #F2F2F2;

// golden ratios
///
$golden-ratio-0191p: 19.1%;
$golden-ratio-191: .191;
///
$golden-ratio-0382p: 38.2%;
$golden-ratio-382: .382;
///
$golden-ratio-0500p: 50%;
$golden-ratio-500: .5;
///
$golden-ratio-0618p: 61.8%;
$golden-ratio-618: .618;
///
$golden-ratio-0809p: 80.9%;
$golden-ratio-809: .809;
///
$golden-ratio-1618p: 161.8%;
$golden-ratio-1618: 1.618;

// mobile sizes
///
$mobile-l-width: 425px;
///
$mobile-m-width: 375px;
///
$mobile-s-width: 320px;
///
$mobile-l-height: 736px;
///
$mobile-m-height: 568px;
///
$mobile-s-height: 320px;

// tablet sizes
///
$tablet-width: 768px;

// laptop sizes
///
$laptop-width: 1024px;

// ===== Variables from iOS ===== //
// Colors
///
$ios-gray: #BFBFC3;
///
$ios-blue: #007AFF;
///
$ios-dark: #2B2B2B;

// Sizes
///
$ios-fingertip-size: 44px;
///
$ios-status-bar-height: 20px;
///
$ios-navigation-bar-height: 44px;
///
$ios-border-radius: 6px;
///
$ios-icon-padding: 8px;
