@import "variables";
@import "extends";

///
html, body, .target {
    @extend %fullSize;
    @extend %slim;

    background-color: $white;
    font-size: $rem;
}

///
body {
    color: $black;
    font-family: -apple-system, "Helvetica Neue", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    user-select: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}

///
button {
    @extend %slim;

    background-color: inherit;
    font-size: $rem;
}
