@import "variables";
@import "extends";

///
html, body, .target {
    @extend %fullSize;
    @extend %slim;

    background-color: $white;
    box-sizing: border-box; /* Enable `border-box` on all element  */
    font-size: $rem;
}

///
*, *:before, *:after {
  box-sizing: inherit;
}

///
body {
    color: $black;
    font-family: -apple-system, "Helvetica Neue", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    user-select: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}

/// Disable text selection highlight
button,
div,
span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
}

///
button {
    @extend %slim;

    background-color: inherit;
    font-size: $rem;
}
