@import "variables";

.scenery {
    background-color: #F4F4F4;
}

.stage {
    background-color: #FFF;

    margin: auto;

    height: 100%;
    width: 100%;

    /* Size for iPhone 6s Plus */
    min-height: 320px;
    max-height: 736px;
    min-width: 320px;
    max-width: 414px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* All non mobile phone devices */
@media (min-width: 414px) {
    .stage {
        height: 61.8%;
        width: 61.8%;
    }
}
