@import "../../../../_common/css/extends";

$table-view-cell-bottom-border-color: #D8D8D8;

.table-view-cell {
    @extend %fullSize;

    background-color: $white;

    height: $ios-fingertip-size;
}
