@import '../../../../_common/css/extends';

$table-view-cell-bottom-border-color: #D8D8D8;
$table-view-cell-title-color: $black;
$table-view-cell-detail-text-color: #8E8E93;
$table-view-cell-icon-size: 29px;
$table-view-cell-icon-radius: 6px;

.table-view-cell {
    @extend %fullSize;

    background-color: $white;
    display: flex;
    height: $ios-fingertip-size;
    padding: 0 10px;

    .content {
        display: flex;
        flex: 1 1 80%;
        height: 100%;

        .image.flex {
            flex: 0 0 40px;
            align-items: left;
        }

        .raw-img {
            border-radius: $table-view-cell-icon-radius;
            flex: 0 0 $table-view-cell-icon-size;
            height: $table-view-cell-icon-size;
            width: $table-view-cell-icon-size;
        }

        .text {
            border-top: 1px solid $table-view-cell-bottom-border-color;
            color: $table-view-cell-title-color;
            display: flex;
            flex: 1 1 80%;
            flex-direction: column;
            justify-content: center;
        }

        .detail-text {
            color: $table-view-cell-detail-text-color;
            font-size: 14px;
        }
    }

    .accessory {
        border-top: 1px solid $table-view-cell-bottom-border-color;
        flex: 0 0 90px;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .image {
            height: 100%;
            flex-basis: 38px;
        }

        .raw-img {
            flex: 0 0 13px;
            height: 13px;
            width: 8px;
        }
    }

    /// States
    &.highlighted {
        background-color: $ios-gray;

        & + .table-view-cell .text,
        & + .table-view-cell .accessory,
        .text, .accessory {
            border-color: transparent;
        }
    }
}

.table-view-header-footer-view + .table-view-cell {

    .content {
        .text {
            border-top: none;
        }
    }

    .accessory {
        border-top: none;
    }
}
