@import '../../../../_common/css/extends';

$table-view-default-background-color: #E5E5E5;

.table-view {
    @extend %fullSize;
    @extend %scrollable;

    background-color: $table-view-default-background-color;

    .table-view-header-footer-view:last-child {
        border: none;
    }
}
