@import '../../../../_common/css/extends';

.image {
    .raw-img {
        @extend %full-size;

        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &.flex {
        align-items: center;
        display: flex;
        flex: 0 0 50px;
        flex-direction: column;
        justify-content: center;

        .raw-img {
            flex: 1;
        }
    }
}
